/* ======================================================================

PALETTE=

========================================================================= */

// Creating some color variables...
// clrs.cc
@navy: #001f3f;
@blue: #0074d9;
@aqua: #7fdbff;
@teal: #39cccc;
@olive: #3d9970;
@green: #2ecc40;
@lime: #01ff70;
@yellow: #ffdc00;
@orange: #ff851b;
@red: #ff4136;
@maroon: #85144b;
@fuchsia: #f012be;
@purple: #b10dc9;
@white: #fff;
@silver: #ddd;
@gray: #aaa;
@black: #111;

// Creating a function that contains more color variables. We will invoke it later.
// http://flatuicolors.com/
.flatUI-colors() {
  @turquoise: #1abc9c;
  @emerald: #2ecc71;
  @peter-river: #3498db;
  @amethyst: #9b59b6;
  @wet-asphalt: #34495e;
  @green-sea: #16a085;
  @nephritis: #27ae60;
  @belize-hole: #2980b9;
  @wisteria: #8e44ad;
  @midnight-blue: #2c3e50;
  @sun-flower: #f1c40f;
  @carrot: #e67e22;
  @alizarin: #e74c3c;
  @clouds: #ecf0f1;
  @concrete: #95a5a6;
  @orange: #f39c12;
  @pumpkin: #d35400;
  @pomegranate: #c0392b;
  @silver: #bdc3c7;
  @asbestos: #7f8c8d;
};

/* ======================================================================

MODULAR= SCALE=

========================================================================= */

// http://modularscale.com/
@ms-minor-second: 16 / 15;
@ms-major-second: 9 / 8;
@ms-minor-third:  6 / 5;
@ms-major-third:  5 / 4;
@ms-perfect-fourth:  4 / 3;
@ms-aug-fourth-dim-fifth: 1.414;
@ms-perfect-fifth:  3 / 2;
@ms-minor-sixth:  8 / 5;
@ms-golden: 1.618;
@ms-major-sixth: 5 / 3;
@ms-minor-seventh: 16 / 9;
@ms-major-seventh: 15 / 8;
@ms-octave: 2;
@ms-major-tenth:  5 / 2;
@ms-major-eleventh: 8 / 3;
@ms-major-twelfth: 3;
@ms-double-octave: 4;


/* ======================================================================

FONTS=
KERN=

========================================================================= */

// ( http://www.awayback.com/revised-font-stack/ )
// SANS-SERIF=
@optima: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
@kern-optima: -0.015em;

@futura: Futura, "Trebuchet MS", Arial, sans-serif;
@kern-futura: -0.035em;

@gill-sans: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
@kern-gill-sans: 0;

@trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
@kern-trebuchet: -0.025em;

@helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
@kern-helvetica: -0.015em;

@verdana: Verdana, Geneva, sans-serif;
@kern-verdana: -0.045em;

@lucida-grande:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
@kern-lucida-grande: -0.045em;

@geneva: Geneva, Tahoma, Verdana, sans-serif;

@segoe: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
@kern-segoe: 0.015em;

@candara: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
@kern-candara: -0.025em;

@calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
@kern-calibri: -0.025em;

@franklin: "Franklin Gothic Medium", Arial, sans-serif;
@kern-franklin: -0.025em;

@tahoma: Tahoma, Geneva, Verdana, sans-serif;
@kern-tahoma: 0;

//SERIF=
@garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
@kern-garamond: -0.015em;

@lucida-bright: "Lucida Bright", Georgia, serif;
@kern-lucida_bright: -0.015em;

@palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
@kern-palatino: -0.015em;

@caslon: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
@kern-caslon: 0.025em;

@didot: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
@kern-didot: -0.035em;

@baskerville: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
@kern-baskerville: -0.025em;

@hoefler: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
@kern-hoefler: -0.025em;

@bodoni: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
@kern-bodoni: -0.025em;

@goudy: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
@kern-goudy: 0.025em;

@constantia: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
@kern-constantia: -0.025em;

@cambria: Cambria, Georgia, serif;
@kern-cambria: 0;

@antiqua: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
@kern-antiqua: -0.015em;


//selected google fonts: ( https://github.com/ubuwaits/beautiful-web-type ) + some others
// note: need to @import fonts over Google Fonts CDN or use @font-family for fonts stored locally.
@abril-fatface: "Abril Fatface", cursive;
@cardo: "Cardo", serif;
@lato: 'Lato', sans-serif;
@gentium-book-basic: "Gentium Book Basic", serif;
@gravitas-one: "Gravitas One", cursive;
@merriweather: "Merriweather", serif;
@old-standard-tt: "Old Standard TT", serif;
@open-sans: "Open Sans", sans-serif;
@oswald:"Oswald", sans-serif;
@playfair-display: "Playfair Display", serif;
@pt-mono: "PT Mono", serif;
@pt-sans: "PT Sans", sans-serif;
@pt-sans-narrow: "PT Sans Narrow", sans-serif;
@pt-serif: "PT Serif", serif;
@racing-sans-one: "Racing Sans One", cursive;
@reenie-beanie: "Reenie Beanie", cursive;
@vollkorn: "Vollkorn", serif;


/* ======================================================================

EASE=

========================================================================= */

// ease-in
@ease-in-quad: cubic-bezier(0.550,  0.085, 0.680, 0.530);
@ease-in-cubic: cubic-bezier(0.550,  0.055, 0.675, 0.190);
@ease-in-quart: cubic-bezier(0.895,  0.030, 0.685, 0.220);
@ease-in-quint: cubic-bezier(0.755,  0.050, 0.855, 0.060);
@ease-in-sine: cubic-bezier(0.470,  0.000, 0.745, 0.715);
@ease-in-expo: cubic-bezier(0.950,  0.050, 0.795, 0.035);
@ease-in-circ: cubic-bezier(0.600,  0.040, 0.980, 0.335);
@ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);

// ease-out
@ease-out-quad: cubic-bezier(0.250,  0.460, 0.450, 0.940);
@ease-out-cubic: cubic-bezier(0.215,  0.610, 0.355, 1.000);
@ease-out-quart: cubic-bezier(0.165,  0.840, 0.440, 1.000);
@ease-out-quint: cubic-bezier(0.230,  1.000, 0.320, 1.000);
@ease-out-sine: cubic-bezier(0.390,  0.575, 0.565, 1.000);
@ease-out-expo: cubic-bezier(0.190,  1.000, 0.220, 1.000);
@ease-out-circ: cubic-bezier(0.075,  0.820, 0.165, 1.000);
@ease-out-back: cubic-bezier(0.175,  0.885, 0.320, 1.275);

// ease-in-out
@ease-in-out-quad: cubic-bezier(0.455,  0.030, 0.515, 0.955);
@ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
@ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
@ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
@ease-in-out-sine: cubic-bezier(0.445,  0.050, 0.550, 0.950);
@ease-in-out-expo: cubic-bezier(1.000,  0.000, 0.000, 1.000);
@ease-in-out-circ: cubic-bezier(0.785,  0.135, 0.150, 0.860);
@ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);


/* ======================================================================

UTILS=

========================================================================= */

// Vertical-Align function: works, but I haven't used it much yet so commented out by default.
// .v-align() {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }

// Edit Mode
@edit: {

  * {
    background: fadeOut(#ccc, 10%);
    transition: all 250ms ease-in-out;
  }

  html {

    div {
      border: 1px solid green;
    }

    [style], style {
      border: 5px solid yellow;
    }

    style {
      border: block;
    }

    img {
      border: 5px solid red;
    }

    img[alt] {
      border-color: green;
    }

    img[alt=""] {
      border-color: yellow;
    }

    a {
      border: 5px solid yellow;
    }

    a[title] {
      border-color: green;
    }

    a[href="#"] {
      outline-color: yellow;
    }

    a[target] {
      border-color: red;
    }

    [class=""], [id=""] {
      border: 5px solid yellow;
    }

  }

};


/* ======================================================================

RESETS=

========================================================================= */

// normalize.css v3.0.1 | MIT License | git.io/normalize */
@normalize: {

  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }

  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden],
  template {
    display: none;
  }

  a {
    background: transparent;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  abbr[title] {
    border-bottom: 1px dotted;
  }

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  mark {
    background: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  pre {
    overflow: auto;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  button {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  input {
    line-height: normal;
  }

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    border: 0;
    padding: 0;
  }

  textarea {
    overflow: auto;
  }

  optgroup {
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }

};

// v4.3.0; removed html element styles and !important flag
@html5-boilerplate-reset: {

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  audio,
  canvas,
  img,
  svg,
  video {
    display: inline-block;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  textarea {
    resize: vertical;
  }

  .browsehappy {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .invisible {
    visibility: hidden;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

};


@star-selector-reset: {

  *,
  *:before,
  *:after {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
  }

};


@inline-reset: {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote {
    quotes: none;
    &:before,
    &:after {
      content: "";
    }
  }

};


@anchor-defaults: {

  a {
    color: @blue;
    transition: color 200ms ease;
    &:hover {
      color: darken(@blue, 11%);
    }
    &:visited {
      color: @purple;
    }
    &:link {
      color: darken(@blue, 11%);
    }
    &:active {
      color: darken(@blue, 11%);
    }
  }

};

@anchor-reset: {

  a {
    color: black;
  }

};


@heading-reset: {

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-weight: normal;
  }

  h1 {
    font-size: @fs * 1.6;
  }

  h2 {
    font-size: @fs * 1.5;
  }

  h3 {
    font-size: @fs * 1.4;
  }

  h4 {
    font-size: @fs * 1.3;
  }

  h5 {
    font-size: @fs * 1.2;
  }

  h6 {
    font-size: @fs * 1.1;
  }

};


.modular-scale(@proto-font-size; @proto-line-height; @scale-1; @scale-2) {

  @base-font-size: round(@proto-font-size * @scale-1 * @scale-2, 4);
  @base-line-height: round(@proto-line-height, 4);

  @fs: @base-font-size;
  @lh: round(@base-line-height * @base-font-size, 4);

}

.modular-scale(.7rem; 1.3; @ms-golden; 1);

// .modular-scale(.72rem; 1.1; @ms-golden; 1);

@normalize();
@html5-boilerplate-reset();
@star-selector-reset();
@heading-reset();
@anchor-reset();

// @edit();

// invoking a custom pallete...
.flatUI-colors;

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: @base-font-size;
  line-height: @base-line-height;
  overflow-x: hidden; // prevents sideways scrolling.
}

// From hereon, feel free to delete anything. The rest is just examples.
// Also look up "Color Operation Functions" and "Color Blending Functions": ( http://lesscss.org/functions/#color-operations )

header {
  &:extend(.clearfix:before, .clearfix:after);
  height: @lh * 4;
  margin-bottom: @lh; // example of vertical-rhythm
  width: 100%;
  > h1 {
    display: block;
    float: left;
    text-align: center;
    width: 30%;
  }
  > nav {
    float: right;
    padding: @lh * 1;
    text-align: center;
    width: 70%;
    > ul {
      float: right;
    }
    > ul > li {
      display: inline-block;
      padding: @lh / 2;
      text-align: center;
      > a {
        display: block;
        height: 100%;
        width: 100%;
        &:hover {
          text-shadow: 2px 2px 11px #fffcf0;
          color: #74022d;
          transition: color 300ms ease;
        }
      }
    }
  }
}

.container__home {
  height: 100%;
  min-height: 100%;
  > .top-section {
    background-image: url(/img/couple4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    > .top-section-text {
      align-self: center;
      background: fadeOut(#fffcf0, 33deg);
      // margin-bottom: @lh * 1;
      padding: @lh * 2;
      text-align: center;
      > .teaser-text--big {
        font-size: @fs * 1.4;
        margin-bottom: @lh * 3;
      }
      > .teaser-text--tagline {
        margin-bottom: @lh;
      }
    }
  }
  > .features {
    // &:extend(.clearfix:before, .clearfix:after);
    align-items: center;
    background: #f8ae59;
    display: flex;
    min-height: 50vh;
    padding: @lh;
    width: 100%;
    > .img-wrapper {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      // float: left;
      // padding-right: @lh;
      width: 50%;
      > img {
        align-self: center;
        max-width: 91%;
        // text-align: center;
      }
    }
    > .features-list {
      border: 1px solid red;
      display: table;
      padding: @lh * 4;
      vertical-align: middle;
      width: 50%;
      > h2 {
        margin-bottom: @lh;
      }
      > ul {
        vertical-align: middle;
        > li {
          margin-bottom: @lh / 2;
        }
      }
    }
  }
  > .sign-up {
    align-items: center;
    background-image: url(/img/couple.jpg);
    background-size: 100%;
    background-repeat: none;
    display: flex;
    justify-content: center;
    min-height: 60vh;
    > .sign-up__inner {
      > h2 {
        display: block;
        margin-bottom: @lh / 2;
      }
      > form {
        > input {
          border: 1px solid #ccc;
          display: block;
          margin-bottom: @lh / 2;
          padding: @lh / 4;
          text-align: right;
          min-width: 60%;
        }
        > button {
          height: @lh * 1.5;
          line-height: @lh * 1.5;
          padding-left: @lh / 2;
          padding-right: @lh / 2;
        }
      }
    }
  }
}

.container__profile {
  // margin: 0 auto;
  // max-width: @lh * 50;
  > .bio {
    // border: 1px solid black;
    display: flex;
    margin: 0 auto (@lh) auto;
    // max-width: @lh * 33;
    position: relative;
    width: 91%;
    > .add-interest-button {
      font-size: @fs * .7;
      padding: @lh / 5;
      position: absolute;
      right: @lh * 3;
      top: -(@lh);
    }
    > .badge {
      position: absolute;
      top: -(@lh);
      right: 0;
    }
    > .image-box {
      align-items: center;
      // background: #ccc;
      // border: 1px solid #ccc;
      background: ivory;
      display: flex;
      flex-direction: column;
      padding: @lh / 2;
      position: relative;
      text-align: center;
      width: 25%;
      > img {
        align-self: center;
        max-width: @lh * 6;
      }
      > .blurb {
        bottom: -(@lh * 3);
        color: #ccc;
        font-size: @fs * .6;
        left: 0;
        padding: @lh / 2;
        position: absolute;
        right: 0;
        text-align: left;
        width: 100%;
      }
    }
    > .stats {
      align-self: flex-end;
      padding: @lh;
      width: 15%;
      > ul {
        list-style: none;
        > li {
          font-size: @fs * .65;
          margin-bottom: @lh / 3;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    > .inner-bio-box {
      align-self: center;
      // border: 1px solid red;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -moz-column-rule-color:  #ccc;
      -moz-column-rule-style:  solid;
      -moz-column-rule-width:  1px;
      padding: @lh;
      text-align: justify;
      width: 85%;
      .bio-text {
        font-size: @fs * .7;
        padding: @lh / 4;
        &:first-letter {
          margin-left: @lh / 2;
        }
      }
    }
  }
  > .interests-values-box {
    display: flex;
    margin: -@lh auto;
    width: 61%;
    > .interests-box, .values-box {
      // border: 1px solid green;
      width: 50%;
      h3 {
        font-size: @fs;
        padding: @lh * 3;
      }
      > p,
      > ul > li {
        font-size: @fs * .7;
      }
    }
    // > .interests-box {
    //   align-items: center;
    //   display: flex;
    //   justify-content: center;
    //   p {
    //     max-width: @lh * 16;
    //   }
    // }
    > .interests-box,
    > .values-box {
      display: flex;
      justify-content: center;
      > ul {
        align-self: center;
        > li {
          margin-bottom: @lh / 4;
        }
      }
    }
  }
}

.container__dates {
  > .interested-box,
  > .mutual-box,
  > .dates-box {
    border: 1px solid black;
    margin: 0 auto @lh;
    padding: @lh / 2;
    width: 81%;
    > h3 {
      background: #ccc;
      display: block;
      height: @lh * 2;
      font-size: @fs * 1;
      line-height: @lh * 2.25;
      padding-left: @lh;
      width: 100%;
    }
  }
  > .interested-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .interested-box__inner {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      > .interested-person {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #ccc;
        margin: 0 auto;
        max-width: @lh * 30;
        padding: @lh / 2;
        width: 50%;
        > .image-box {
          align-items: center;
          border: 1px solid #ccc;
          display: flex;
          flex-direction: column;
          width: 25%;
          > img {
            max-width: @lh * 2.75;
          }
        }
        > .name {
          border: 1px solid #ccc;
          font-size: @fs * .73;
          text-align: center;
          width: 35%;
        }
        > .profile-link-box {
          border: 1px solid #ccc;
          font-size: @fs * .73;
          text-align: center;
          width: 15%;
        }
        > .remove-interest-box {
          align-items: center;
          border: 1px solid #ccc;
          display: flex;
          height: @lh * 2;
          justify-content: center;
          width: @lh * 2;
        }
      }
    }
  }
  > .mutual-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .mutual-box__inner {
      align-items: center;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > .mutual-box__another-inner {
        align-items: center;
        align-self: center;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        // delete flex-wrap once jquery arrows are working!!
        flex-wrap: wrap;
        padding-bottom: @lh / 4;
        padding-top: @lh / 4;
        justify-content: space-around;
        width: 100%;
        > .arrow {
          border: 1px solid #ccc;
        }
        > .mutual-person {
          border: 1px solid black;
          align-self: center;
          display: flex;
          flex-direction: column;
          padding: @lh / 2;
          width: @lh * 7;
          > .image-box {
            align-items: center;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            > img {
              max-width: @lh * 5;
            }
          }
          > .person-name {
            border: 1px solid #ccc;
            font-size: @fs * .8;
            padding-left: @lh / 2;
            // width: @lh * 5;
          }
          > .profile-link-box {
            border: 1px solid #ccc;
            font-size: @fs * .8;
            text-align: center;
            // width: @lh * 5;
          }
          > .button-box {
            font-size: @fs * .67;
            padding-top: @lh / 2;
            > button {
              padding: @lh / 8;
              &:nth-of-type(1) {
                margin-bottom: @lh / 4;
              }
            }
          }
        }
      }
    }
  }
  > .dates-box {
    > h3 {
      margin-bottom: @lh / 2;
    }
    > .confirmed-dates-box,
    > .proposed-dates-box {
      border: 1px solid red;
      margin-bottom: @lh / 2;
      margin-left: auto;
      margin-right: auto;
      max-width: @lh * 25;
      > h4 {
        display: block;
        font-size: @fs * .84;
        margin-bottom: @lh / 4;
      }
      > .inner-date-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: @lh * 20;
        > .date-item {
          align-items: center;
          border: 1px solid black;
          display: flex;
          font-size: @fs * .77;
          justify-content: space-between;
          margin-bottom: @lh / 2;
          max-width: @lh * 15;
          width: 100%;
          > .image-box {
            align-items: center;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            > img {
              max-width: @lh * 4;
            }
          }
          > .place-name {
            border: 1px solid #ccc;
            display: inline-block;
          }
          > .time {
            border: 1px solid #ccc;
            display: inline-block;
          }
        }
      }
    }
  }
  > .blocked-box {
    align-items: center;
    border: 1px solid #ccc;
    display: flex;
    margin: 0 auto @lh;
    padding: @lh / 2;
    width: 81%;
    > h5 {
      font-size: @fs * .8;
    }
    > ul {
      font-size: @fs * .6;
      list-style: none;
      text-align: center;
      > li {
        display: inline-block;
        margin-left: @lh / 2;
        min-width: @lh * 4;
      }
    }
  }
}

.container__search {
  > .darth-vader {
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: @lh * 1.5;
    margin-bottom: @lh / 2;
    max-width: @lh * 22;
    text-align: center;
    width: 91%;
    > .big-text {
      font-size: @fs * 2;
    }
  }
  > .person {
    align-items: center;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    margin: 0 auto @lh / 2;
    max-width: @lh * 33;
    width: 91%;
    > .image-box {
      align-items: center;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: @lh * 5;
      > img {
        max-width: @lh * 4;
      }
    }
    > .bio-box {
      border: 1px solid black;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: @lh;
      width: 71%;
      > .bio-text {
        border: 1px solid #ccc;
        font-size: @fs * .67;
        margin-bottom: @lh / 2;
        max-width: @lh * 18;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > .name {
        border: 1px solid #ccc;
        font-size: @fs * .76;
      }
    }
    > button {
      border: 1px solid #ccc;
    }
  }
}



.container__new-date {
  > .top-section,
  > .form-box,
  > .controls
  > .date-and-time {
    margin-bottom: @lh;
  }
  > .top-section {
    border: 1px solid #ccc;
    > h3 {
      font-size: @lh * 1.5;
      text-align: center;
    }
  }
  > .form-box {
    background: @emerald;
  }
  // > .controls,
  // > .date-and-time {
  //   > input {
  //   }
  // }
  > .controls {
    border: 1px solid #ccc;
  }
  > .date-and-time {
    border: 1px solid #ccc;
  }
  > .search-listing {
    border: 1px solid #ccc;
  }
  > .map {
    margin: 0 auto;
  }
  > .street-map {
    margin: 0 auto;
  }
}

#map {
  width: 800px;
  height: 600px;
}
