extends ../shared/template

block content

  .container__dates

    header.header
      include ../shared/nav

    section.dates-box
      h3 Dates

      section.confirmed-dates-box
        h4 Confirmed
        .inner-date-wrapper
          .date-item
            .image-box
              img(src='/img/lady1.jpg')
            .place-name Applebee's
            .time Time-here

      section.proposed-dates-box
        h4 Proposed
        .inner-date-wrapper
          .date-item
            .image-box
              img(src='/img/lady2.jpg')
            .place-name Applebee's
            .time Time-here
            button View

    section.interested-box
      h3 Interested
      .interested-box__inner
        .interested-person
          .image-box
             img(src='/img/lady3.jpg')
          .name user.name
          .profile-link-box
            a.profile-link(href='Link goes here') profile
          .remove-interest-box X
        .interested-person
          .image-box
             img(src='/img/lady1.jpg')
          .name user.name
          .profile-link-box
            a.profile-link(href='Link goes here') profile
          .remove-interest-box X
        .interested-person
          .image-box
             img(src='/img/old-lady.jpg')
          .name user.name
          .profile-link-box
            a.profile-link(href='Link goes here') profile
          .remove-interest-box X

    section.mutual-box
      h3 Mutual
      .mutual-box__inner
        .mutual-box__another-inner
          //- .arrow.arrow-left arrow
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          //- .arrow.arrow-right arrow

        //- .button-box
        //-   button#invite-mutual-person Propose Date
        //-   button#invite-contact-person Propose Contact


    section.blocked-box
      h5 Blocked
      ul
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
