extends ../shared/template

block content

  .container__new-date

    header.header
      include ../shared/nav

    section.new-date__top
      h3 New Date Proposal
      //- p.new-date__tagline for #{user.name}

    section.new-date--form-box

    #controls
      h1 Google Map
      input#cityOrZip(type='text', autofocus=true, placeholder='Zip Code or City, State')
      input#companyName(type='text', placeholder='Italian, Theaters, Burgers, Beer, etc.')
      button#search Search

    #dateAndTime
      input#date(type='date')
      input#time(type='time')
      input#availability(type='textarea', placeholder='I am also available most evenings next week if that works better for you...')

    #searchListing

    #map


block scripts
  script(src='/js/es6/compiled/map.js')
