extends ../shared/template

block content

  #controls
    h1 Google Map
    input#cityOrZip(type='text', autofocus=true, placeholder='Zip Code or City, State')
    input#companyName(type='text', placeholder='Restaurant Name, Theatre Name, etc.')
    button#search Search

  #searchListing

  #map


block scripts
  script(src='/js/es6/compiled/map.js')
