extends ../shared/template

block content

  .container__dates

    header.header
      include ../shared/nav

    section.interested-box
      h3 Interested
      .interested-person
        .image-box
           img(src='/img/old-lady.jpg')
        .name user.name
        .profile-link-box
          a.profile-link(href='Link goes here') see profile
        .remove-interest-box X
      .interested-person
        .image-box
           img(src='/img/old-lady.jpg')
        .name user.name
        .profile-link-box
          a.profile-link(href='Link goes here') see profile
        .remove-interest-box X
      .interested-person
        .image-box
           img(src='/img/old-lady.jpg')
        .name user.name
        .profile-link-box
          a.profile-link(href='Link goes here') see profile
        .remove-interest-box X

    section.mutual-box
      h3 Mutual
      .mutual-box__inner
        .mutual-box__another-inner
          .arrow.arrow-left arrow
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
          .arrow.arrow-right arrow

        .button-box
          button#invite-mutual-person Propose Date
          button#invite-contact-person Propose Contact

    section.dates-box
      h3 Dates
      .date-item
        .image-box
          img(src='/img/applebees.jpg')
        .place-name Applebee's
        .time-box
          .weekday Wednesday
          .digit-time 7:00
        .something something?

    section.blocked-box
      h5 Blocked
      ul
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
