extends ../shared/template

block content

  .container__dates

    header.header
      include ../shared/nav

    section.interested-box
      h3 Interested
      .interested-person
        .image-box
           img(src='/img/old-lady.jpg')
        .name user.name
        .profile-link-box
          a.profile-link(href='Link goes here') see profile
        .remove-interest-box X

    section.mutual-box
      h3 Mutual
      .mutual-person
        .person-name Name
        .image-box
          img(src='/img/person4.jpg')
        a.profile-link(href='') Link
      .mutual-person Name
        .person-name
        .image-box
          img(src='/img/person5.jpg')
        a.profile-link(href='') Link
      .mutual-person
        .person-name Name
        .image-box
          img(src='/img/person6.jpg')
        a.profile-link(href='') Link

      .button-box
        button#invite-mutual-person
        button#invite-contact-person

    section.dates-box
      h3 Dates
      .date-item
        .image-box
          img(src='/img/location1.jpg')
        .place-name Applebee's
        .time
          .weekday Wednesday
          .digit-time 7:00
        li something?

    section.blocked-box
      h5 Blocked Users
