extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav

    section.bio
      img.badge(src='/img/badge.svg')
      .image-box
        img(src='/img/blonde-woman.jpg')
        span.name user.name
      .stats
        ul
          li Nashville, TN
          li Female
          li 23
      .inner-bio-box
        p.bio-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptas itaque officiis iste, explicabo maiores! Eligendi quod excepturi nam nostrum nihil temporibus id porro cupiditate consequuntur quas, maxime voluptatem ipsa dolores reprehenderit incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi cupiditate inventore suscipit iure dignissimos minima tenetur reiciendis dolore quisquam illo ratione temporibus debitis vero architecto, molestiae repudiandae consequuntur a magni expedita aut distinctio voluptas. Deleniti ipsam totam sunt earum veniam.

    section.interests-values-box
      .interests-box
        h3 Interests
        ul
          li Lorem ipsum.
          li Lorem ipsum dolor.
          li Lorem ipsum.
          li Lorem.
      .values-box
        h3 Values
        ul
          li Lorem ipsum.
          li Lorem ipsum dolor.
          li Lorem ipsum.
          li Lorem.
