extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav

    section.bio
      for each user in users
        img.badge
        .image-box
          img(src='/img/person.jpg')
          span.name user.name
        .teaser-box
          p.teaser-text--big user.
          p.teaser-text--tagline
        .stats
          ul
            li Nashville, TN
            li Female
            li 23

    section.interests-values-box
      .interests-box
        h3 Interests
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet iure ad ipsa. Numquam quam ea ullam ipsam, accusantium officia unde vero temporibus neque quos, iusto nobis assumenda quaerat illo dicta iste eaque.
      .values-box
        h3 Values
        ul
         li Lorem ipsum.
         li Lorem ipsum dolor.
         li Lorem ipsum.
         li Lorem.
