extends ../shared/template

block content

  .container__search

    header.header
      include ../shared/nav

    section.top-section
      p.big-text Find your match.

    //- section.select-section
    //-   select.form-control Select
    //-     option Option
    //-   button.add Add
    //-   button.go Go

    section.person-box
      .person
        .image-box
          img(src='/img/lady1.jpg' alt='')
          .name A name here.

        .bio-box
          p.bio-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores et aliquid, molestias nulla vel aperiam officia harum perferendis dolor error illum tempora blanditiis ipsa tempore impedit aspernatur cum architecto perspiciatis officiis, recusandae amet?

        button.btn View
