extends ../shared/template

block content

  .container__search

    header.header
      include ../shared/nav

    //- section
    //-   select Select
    //-     option Option
    //-
    //-   button Go

    .view-box
      .view-bio-box
        img(src='')
        .view-bio
          p.bio-text
          p.name
        button View
