extends ../shared/template

block content

  .container__search

    header.header
      include ../shared/nav

    .darth-vader
      p.big-text Find your match.

    //- section
    //-   select Select
    //-     option Option
    //-
    //-   button Go

    .person
      .image-box
        img(src='/img/old-lady.jpg' alt='')
      .bio-box
        p.bio-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores et aliquid, molestias nulla vel aperiam officia harum perferendis dolor error illum tempora blanditiis ipsa tempore impedit aspernatur cum architecto perspiciatis officiis, recusandae amet?...
        .name A name here.
      button View
