extends ../shared/template

block content

  .container__home

    section#about.top-section

      header.header
        h1 Offline Dating
        nav.nav
          ul
            li: a(href='#about') About
            li: a(href='#features') Features
            li: a(href='#sign-up') Sign Up
            li: a(href='/users/profile') Sign In

      .top-section-text
        p.teaser-text--big Real people meeting in real life. Furreal.
        p.teaser-text--tagline Get started
        .icon-arrow-down Arrow

    section#features.features
      .img-wrapper
        img(src='/img/couple2.jpg')
      .features-list
        h2 Features
        ul
          li certifiable humans
          li don't share your contact information upfront
          li safe space

    section#sign-up.sign-up
      .sign-up__inner
        h2 Sign Up
        form(action='' method='post')
          input(type='text' name='name' placeholder='name')
          input(type='email' name='email' placeholder='email')
          input(type='password' name='password' placeholder='password')
          button Get Started

//- block scripts
//-   script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
